<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- css imports -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- js imports -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" ></script>

        <title>Contact Book Test</title>
    </head>
    <body>
			<nav class="navbar navbar-inverse">
					<div class="container-fluid">
					<div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
   <main class="container">
            <form>
                <h1>Contact Book Test:</h1>
                <div class="form-group">
                    <label for="contactID">Contact ID:</label>
                    <input type="text" class="form-control" id="contactID" placeholder="Contact ID">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                </div>
				<div class="form-group">
                    <label for="name">Name:</label>
                    <input type="name" class="form-control" id="name" placeholder="Name">
                </div>
				 <div class="form-group">
                    <label for="surname">Surname:</label>
                    <input type="surname" class="form-control" id="surname" placeholder="Surname">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input type="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number">
                </div>

                <div class="form-group">
                    <label for="dateOfBirth">Date of birth</label>
                    <input type="dateOfBirth" class="form-control" id="dateOfBirth" placeholder="Date Of Birth">
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>
